<div class="aa-product-features section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12"><img class="img-fluid" src="{{ about.img }}" alt="Image"/></div>
            <div class="col-md-7 col-sm-12">
                <h2 class="title mb-2">{{ about.title }}</h2>
                <p class="pt-2">{{ about.text }}</p>
                <ul class="py-1 list-unstyled">
                    {% for i in about.point.all %}
                        <li class="py-1"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                            {{ i }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
