<div class="aa-product-features section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12"><img class="img-fluid" src="../static/images/2.jpg" alt="Image"/></div>
      <div class="col-md-7 col-sm-12">
        <h2 class="title mb-2">What is Awesome App?</h2>
        <p class="pt-2">Add a brief story about your app here, what purpose your app solves and why you think your user would want to have it on their device.</p>
        <p class="pt-5 pb-1">Re-establish the main use case of your app by listing them below. Make sure to place a relavent screenshot on the left.</p>
        <ul class="py-1 list-unstyled">
          <li class="py-1"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Amazing Design to Present Your App</li>
          <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Fully Responsive and Powered by Bootstrap &amp; PaperKit</li>
          <li><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Very Easy to Customize and Setup</li>
        </ul>
      </div>
    </div>
  </div>
</div>
