{% load rest_framework %}
<div class="aa-product-features section" id="formsend">
    <div class="container">
        <h2 class="title mt-0">Форма обратной связи</h2>
        <form action="{% url 'message' %}" type="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email адрес</label>
                <input type="email" class="form-control" id="email" aria-describedby="email">
                <div id="email" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name">
            </div>
            <button type="submit" class="mt-4 btn btn-outline-danger btn-round">Отправить</button>
        </form>
    </div>
</div>
