<div class="aa-testimonials-section section">
  <div class="container">
    <div class="text-center">
      <h2 class="title mt-0">{{ review.title }}</h2>
      <p>{{ review.text }}</p>
    </div>
    <div class="aa-testimonials">
      <div class="row">
        {% for i in review.point.all %}
        <div class="col-md-4 mb-3">
          <div class="aa-testimonials-body">
            <p>{{ i.text }}</p>
            <div class="row pt-3">
              <div class="col-lg-5 col-md-12"><img class="img-fluid" src="{{ i.img }}" alt="Face 1"/></div>
              <div class="col-lg-7 col-md-12 pt-3">
                <div class="h5">{{ i.name }}</div>
                <p class="text-muted">{{ i.position }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
