<div class="aa-product-details section" id="features">
    <div class="row">
        {% for skill in skills %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="icon icon-danger"><i class="fa {{ skill.icon_class }}" aria-hidden="true"></i></div>
                <div class="description">
                    <div class="h4">{{ skill.title }}</div>
                    <p class="text-muted">{{ skill.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
