  <div class="aa-product-details section" id="features">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon icon-danger"><i class="fa fa-tags" aria-hidden="true"></i></div>
        <div class="description">
          <div class="h4">Showcase Your App</div>
          <p class="text-muted">Showcase your app in style with this professional looking template.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon icon-danger"><i class="fa fa-cog" aria-hidden="true"></i></div>
        <div class="description">
          <div class="h4">Easy to Customize</div>
          <p class="text-muted">Easily customize the text and replace the images to suit your own app.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon icon-danger"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
        <div class="description">
          <div class="h4">Unlimited Colors</div>
          <p class="text-muted">Easily change the colors in CSS that can go well with your branding.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon icon-danger"><i class="fa fa-desktop" aria-hidden="true"></i></div>
        <div class="description">
          <div class="h4">Responsive, HTML5, CSS3</div>
          <p class="text-muted">Our template is 100% responsive and built with modern standards.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon icon-danger"><i class="fa fa-file-text" aria-hidden="true"></i></div>
        <div class="description">
          <div class="h4">Designed to Convert</div>
          <p class="text-muted">Designed to engage your user and increase your conversion.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon icon-danger"><i class="fa fa-life-ring" aria-hidden="true"></i></div>
        <div class="description">
          <div class="h4">With no Boundaries</div>
          <p class="text-muted">Use Bootstrap and PaperKit to add additional components.</p>
        </div>
      </div>
    </div>
  </div>
