<div class="aa-header">
    <div class="container aa-header-content text-left text-white">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="text-white mb-4">Awesome App <br/>App Landing Template</h1>
                <p>An awesome landing page template to showcase your app features, screenshots, pricing, user
                    testimonials and download links.</p>
                <ul class="py-1 list-unstyled">
                    <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Amazing Design to
                        Present Your App
                    </li>
                    <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Fully Responsive and
                        Powered by Bootstrap &amp; PaperKit
                    </li>
                    <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Very Easy to Customize
                        and Setup
                    </li>
                </ul>
                <a class="mt-4 btn btn-outline-neutral btn-round" href="#features">Start Exploring</a>
            </div>
            <div class="col-md-6 col-sm-12 text-right"><img class="img-fluid" src="../static/images/1.jpg" alt="Image">
            </div>
        </div>
    </div>
</div>
