<div class="aa-header">
    <div class="container aa-header-content text-left text-white">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="text-white mb-4">{{ title.title }}</h1>
                <p>{{ title.text }}</p>
                <ul class="py-1 list-unstyled">
                    {% for i in title.point.all %}
                        <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i>
                            {{ i }}
                        </li>
                    {% endfor %}
                </ul>
                <a class="mt-4 btn btn-outline-neutral btn-round" href="#formsend">Start Exploring</a>
            </div>
            <div class="col-md-6 col-sm-12 text-right"><img class="img-fluid" src="{{ title.img }}" alt="Image">
            </div>
        </div>
    </div>
</div>
